requests
streamlit
langchain==0.1.5
chromadb
tiktoken
sentence-transformers
termcolor
langchain-community
pyyaml
GitPython
openai
huggingface-hub
pypdf
huggingface-hub
tiktoken
textsplitter
typing
langchainhub
